#!/bin/sh

tempfile=$(mktemp)

cat << INITDB > $tempfile
echo "USE mysql;"
echo "FLUSH PRIVILEGES;"
echo "CREATE DATABASE IF NOT EXISTS \`{{ db_name }}\` CHARACTER SET utf8 COLLATE utf8_general_ci;"
echo "GRANT ALL ON *.* TO root@'localhost' IDENTIFIED BY '{{ db_root_password }}' WITH GRANT OPTION;"
echo "GRANT ALL ON \`{{ db_name }}\`.* TO \`{{ db_user }}\`@'%' IDENTIFIED BY '{{ db_password }}' WITH GRANT OPTION;"
echo "GRANT SELECT,LOCK TABLES ON \`{{ db_name }}\`.* TO \`{{ db_read_user }}\`@'%' IDENTIFIED BY '{{ db_read_user_password }}' WITH GRANT OPTION;"
echo "DROP DATABASE test;"
echo "DELETE FROM user WHERE user='';"
/usr/bin/mysqld --user=mysql --bootstrap --verbose=0
INITDB
rm -f $tempfile
rm -f /root/init_db.sh
