# These are the python requirements for your Ansible Container builder.
# You do not need to include Ansible itself in this file.
setuptools>=36.2.7
pip>=9.0.3
ansible>=2.3.2.0
ansible-container[docker]>=0.9.1
docker-compose>=1.22.0
docker==2.7.0