-----BEGIN CERTIFICATE-----
MIIEvjCCAyagAwIBAgIJAMko50QOluRwMA0GCSqGSIb3DQEBCwUAMGQxCzAJBgNV
BAYTAkRFMQ8wDQYDVQQIDAZCZXJsaW4xDzANBgNVBAcMBkJlcmxpbjEYMBYGA1UE
CgwPQXJjaGl0cmF2ZSBHbWJIMRkwFwYDVQQDDBBhcmNoaXRyYXZlLmxvY2FsMB4X
DTE3MDUxNTE0NTM0MloXDTI3MDUxMzE0NTM0MlowZDELMAkGA1UEBhMCREUxDzAN
BgNVBAgMBkJlcmxpbjEPMA0GA1UEBwwGQmVybGluMRgwFgYDVQQKDA9BcmNoaXRy
YXZlIEdtYkgxGTAXBgNVBAMMEGFyY2hpdHJhdmUubG9jYWwwggGiMA0GCSqGSIb3
DQEBAQUAA4IBjwAwggGKAoIBgQDJ2w+yWeFR3SyA4HBPYUBnikE6tupT6cFnVckW
XgsrK/udPDPaXmdVGwlM+ErbaCpkmaL87Hv3Cp21t2/TblctCywj3Uj1scooF3nE
Rf9Q0YbBrtHxkIrrI/0PCENGW2dfbh6MXE1XkYrJQ/VNffJjRvoyGUaQRIUT6z8E
zVx0WoMWngfHTySMU7S/x2v4/qRZ3X102MdO6cTmF9aUOkmiyENTh5bTT3md35gs
YVtqH2XrDGDGudpW1KxSSic6+/pmcqxMkVEIeIPEH1SdODCGf16kdOjltnXKerB8
yROUQNXJzjc+CBst2bJZ7KXjxyr7cE6Ayd8sWOMDnfQFlPIh2gXJKOhuu7hDulBK
B9EKetrNtar0ITwHcoDpRJ5N3q58epAg609ctiS54nG+FBKdjzwFgAO51b8wWNsz
M178lI9qNPMixfp1ZjQlBoI5QBY24kBdIO26Ouon6x73Hd1enSG100OzPvlNQrcO
GW/BpvC1fh2RQkjiTqA8CT27yoECAwEAAaNzMHEwIQYDVR0RBBowGIIQYXJjaGl0
cmF2ZS5sb2NhbIcECvoACjAdBgNVHQ4EFgQUJmCMB159Jhkged9ZPqs3fkULk2Yw
HwYDVR0jBBgwFoAUJmCMB159Jhkged9ZPqs3fkULk2YwDAYDVR0TBAUwAwEB/zAN
BgkqhkiG9w0BAQsFAAOCAYEAlKan27bPsv9Et6+Cu/nw+x3c0Gp26iWmQOmgNn42
ckGVs/7HF94ub45H9ZCfxdnW25Eo1cWj4EM62O/3vjTi5hfGwieseEZvL+XQle1X
U1nTX01BQ+iC+0PVhXeqeva4k4C1QtXTrA2VMuHUr9nOdjL3ny9sk8qWhejLDkMS
D5YfOsAmxUa3a9T3Mfh44Mb837FkTdgw6DXG8npVl0DoE+PzdmBcM+kVWMBWVCUm
Rd7teiCMUt8LASgcsdn4Lqp98mp5SyZWzFmwH22R1ytw3g9I5GuuKVLYVtledKhq
loU0VSQO323V35wLWg6qFQyCxSVFHf1O8VcmXZW8S09ad9qvq3nXx7R12ZDhVel5
RqP90rNjBKHTYc2iB8oHv0sG9IMZdcuviaWwyl+NCwjdVXIR3gqsyEMm2rihSUw3
pD77T272cbQhgpHNQ3bH13s94JUA5bZIa2ghDzvv08/nRMQE7jp4G9wkyCGcxgqD
nQXu5O9PE/hG+c1cCdEx3sND
-----END CERTIFICATE-----

