# Will be added as part of http block
log_format apm '$remote_addr [$time_local] $request $status $body_bytes_sent '
               '$http_referer $request_time $upstream_response_time '
               '$upstream_connect_time $upstream_header_time $pipe';
